<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="style.css">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="script.js"></script>
    <meta charset="UTF-8">
    <title>Emergency traind staff Members </title>
</head>
<body>
    <h1>Emergency Staff Tables:</h1>
    
    <button id="toggleMarshalsTable">Toggle Marshals Table</button>
    <button id="toggleAidersTable"> Toggle Aiders Table</button>
    <button id="toggleWheelchairTable">Toggle Wheelchair Operators Table</button>
    <a href="/new"><button>Add Users</button></a>
    <% if (records != 0) { %>
      <div id="aiders">
        <h2>Aiders</h2>
        <table>
          <thead>
            <tr>
              <% const keys1 = Object.keys(records[0]).filter(key => key !== 'rgu_id' && key !== 'Aid' && key !== 'Marshal' && key !== 'Wheelchair');
              for (let i = 0; i < keys1.length; i++) { %>
                <th><%= keys1[i] %></th>
              <% } %>
            </tr>
          </thead>
          <tbody>
            <% records.sort((a, b) => a['rgu_id'] - b['rgu_id']);
            for (var i = 0; i < records.length; i++){ %>
              <% const recordset = records[i];
              if (recordset['Aid']) { %>
                <tr>
                  <% for (let key in recordset) {
                    if (key !== 'rgu_id' && key !== 'Aid' && key !== 'Marshal' && key !== 'Wheelchair') { %>
                      <% if (key === 'Email') { %>
                        <td><a href="https://teams.microsoft.com/l/chat/0/0?users=<%= recordset[key] %>"> <%= recordset[key] %> </a></td>
                      <% } else { %>
                        <td><%= recordset[key] %></td>
                      <% } %>
                    <% }
                  } %>
                </tr>
              <% }
            } %>
          </tbody>
        </table>
      </div>
      
      <div id="marshals">
        <h2>Marshals</h2>
        <table>
          <thead>
            <tr>
              <% const keys2 = Object.keys(records[0]).filter(key => key !== 'rgu_id' && key !== 'Aid' && key !== 'Marshal' && key !== 'Wheelchair');
              for (let i = 0; i < keys2.length; i++) { %>
                <th><%= keys2[i] %></th>
              <% } %>
            </tr>
          </thead>
          <tbody>
            <% records.sort((a, b) => a['rgu_id'] - b['rgu_id']);
            for (var i = 0; i < records.length; i++){ %>
              <% const recordset = records[i];
              if (recordset['Marshal']) { %>
                <tr>
                  <% for (let key in recordset) {
                    if (key !== 'rgu_id' && key !== 'Aid' && key !== 'Marshal' && key !== 'Wheelchair') { %>
                      <% if (key === 'Email') { %>
                        <td><a href="https://teams.microsoft.com/l/chat/0/0?users=<%= recordset[key] %>"><%= recordset[key] %></a></td>
                      <% } else { %>
                        <td><%= recordset[key] %></td>
                      <% } %>
                    <% }
                  } %>
                </tr>
              <% }
            } %>
          </tbody>
        </table>
      </div>
      
      <div id="wheelchairs">
        <h2>Wheelchairs</h2>
        <table>
          <thead>
            <tr>
              <% const keys3 = Object.keys(records[0]).filter(key => key !== 'rgu_id' && key !== 'Aid' && key !== 'Marshal' && key !== 'Wheelchair');
              for (let i = 0; i < keys3.length; i++) { %>
                <th><%= keys3[i] %></th>
              <% } %>
            </tr>
          </thead>
          <tbody>
            <% records.sort((a, b) => a['rgu_id'] - b['rgu_id']);
            for (var i = 0; i < records.length; i++){ %>
              <% const recordset = records[i];
              if (recordset['Wheelchair']) { %>
                <tr>
                  <% for (let key in recordset) { %>
                    <% if (key !== 'rgu_id' && key !== 'Aid' && key !== 'Marshal' && key !== 'Wheelchair') { %>
                      <% if (key === 'Email') { %>
                        <td><a href="https://teams.microsoft.com/l/chat/0/0?users=<%= recordset[key] %>"> <%= recordset[key] %></a></td>
                      <% } else { %>
                        <td><%= recordset[key] %></td>
                      <% } %>
                    <% } %>
                  <% } %>
                </tr>
              <% }
            } %>
          </tbody>
        </table>
      </div>
      
      
      
      
      
      
  <% } else { %>
    <p>No data posted yet.</p>
  <% } %>
</body>
</html>
