<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    
    <title>NFC deata</title>
</head>
<body>
    <h1>Post Data:</h1>
    <% if (ressql) { %>
      <% for (let i = 0; i < ressql.length; i++) { %>
        <h2>RGU ID: <%= ressql[i].rgu_id %></h2>
        <p>Name: <%= ressql[i].Name %></p>
        <p>Email: <%= ressql[i].Email %></p>
        <p>Building: <%= ressql[i].Building %></p>
        <p>Priority: <%= ressql[i].Priority %></p>
      <% } %>



        


        
      
    <% } else { %>
      <p>No data posted yet.</p>
    <% } %>
</body>
</html>