<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    
    <title>NFC deata</title>
</head>
<body>
    <h1>Post Data:</h1>

    <div id = 'content'>
    <% if (ressql) { %>
        
      

      <% for (let i = 0; i < ressql.recordsets.length; i++) { %>
        <% for (let j = 0; j < ressql.recordsets[i].length; j++) { %>
         <div id=<%= nfc %>> <h2>Record <%= i + 1 %>, Object <%= j + 1 %></h2>
          <ul>
            <% const recordset = ressql.recordsets[i][j]; %>
            <% for (let key in recordset) { %>
              <li><%= key %>: <%= recordset[key] %></li>
            <% } %>
          </ul> </div>
        <% } %>
      <% } %>

      
      <%= content %>
    <% } else { %>
      <p>No data posted yet.</p>
    <% } %>
  </div>
</body>
</html>