<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    
    <title>NFC deata</title>
</head>
<body>
    <h1>Post Data:</h1>
    <% if (ressql) { %>
        <p><%= ressql %></p>
      <p><%= ressql.recordsets.rgu_id %></p>
      <p><%= ressql.recordsets.Name %></p>
      <p><%= ressql.recordsets.Email %></p>

      <% for (let i = 0; i < ressql.recordsets.length; i++) { %>
        <% for (let j = 0; j < ressql.recordsets[i].length; j++) { %>
          <h2>Record <%= i + 1 %>, Object <%= j + 1 %></h2>
          <ul>
            <% const recordset = ressql.recordsets[i][j]; %>
            <% for (let key in recordset) { %>
              <li><%= key %>: <%= recordset[key] %></li>
            <% } %>
          </ul>
        <% } %>
      <% } %>
      
    <% } else { %>
      <p>No data posted yet.</p>
    <% } %>
</body>
</html>