<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    
    <title>NFC deata</title>
</head>
<body>
    <h1>Post Data:</h1>
    <% if (ressql) { %>
        <p><%= ressql %></p>
      

        <% for (let i = 0; i < ressql.length; i++) { %>
          <h2>RGU ID: <%= ressql.recordset.rgu_id %></h2>
          <p>Name: <%= ressql.recordset.Name %></p>
          <p>Email: <%= ressql.recordset.Email %></p>
          <p>Building: <%= ressql.recordset.Building %></p>
          <p>Priority: <%= ressql.recordset.Priority %></p>
        <% } %>
      
    <% } else { %>
      <p>No data posted yet.</p>
    <% } %>
</body>
</html>