<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    
    <title>NFC deata</title>
</head>
<body>
    <h1>Post Data:</h1>
    <% if (ressql) { %>
        <p><%= ressql %></p>
      

        <% for (let i = 0; i < ressql.recordset.length; i++) { %>
          
            <h2>Record <%= i + 1 %></h2>
            <ul>
              <% const recordset = ressql.recordset[i]; %>
              <% for (let key in recordset) { %>
                <li><%= key %>: <%= recordset[key] %></li>
              <% } %>
            </ul>
          
        <% } %>
        <% for (let i = 0; i < data.length; i++) { %>
          
          <h2>Record <%= i + 1 %></h2>
          <ul>
            <% const recordset = data[i]; %>
            <% for (let key in recordset) { %>
              <li><%= key %>: <%= recordset[key] %></li>
            <% } %>
          </ul>
        
      <% } %>
        
      
    <% } else { %>
      <p>No data posted yet.</p>
    <% } %>
</body>
</html>