<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    
    <title>NFC deata</title>
</head>
<body>
    <h1>Post Data:</h1>
    <% if (ressql) { %>
        
      

      <% for (let i = 0; i < ressql.length; i++) { %>
        <% for (let j = 0; j < ressql[i].length; j++) { %>
          <div id=<%= nfc %>>
            <h2>Record <%= i + 1 %>, Object <%= j + 1 %></h2>
            <ul>
              <% const recordsets = ressql[i][j].recordsets[0]; %>
              <% for (let key in recordsets) { %>
                <li><%= key %>: <%= recordsets[key] %></li>
              <% } %>
            </ul>
          </div>
        <% } %>
      <% } %>

      
      
    <% } else { %>
      <p>No data posted yet.</p>
    <% } %>
</body>
</html>